/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

#list-home::-webkit-scrollbar {
    width: 0px;
    height:0px
}


:hover::-webkit-scrollbar-thumb{
    @apply bg-gray-500 rounded-full
}

html {
    @apply dark:text-white text-black dark:bg-gray-950
}


.borders1 {
    @apply border border-gray-300 dark:border-gray-800
}

.borders2 {
    @apply border-2 border-gray-300 dark:border-gray-800
}

.bg-hovers {
    @apply dark:bg-gray-800 bg-gray-100 dark:hover:bg-gray-700 hover:bg-gray-200 
}

.hovers {
    @apply dark:hover:bg-gray-700 hover:bg-gray-200
}

.active-link {
    @apply dark:bg-gray-700 bg-gray-200
}

.background {
    @apply dark:bg-gray-950 bg-white
}


